body {
    padding-top: 70px;
}

img.button {
    cursor: pointer;
}

img.button.disabled {
    cursor: not-allowed;
}

div.row div.slot {
    margin-bottom: 20px;
    position: relative;
}

.panel-body.section {
    padding-bottom: 0;
}

.navbar-inverse .navbar-brand {
    color: #ffffff;
}

.btn.btn-default.paging {
    margin-top: 20px;
    margin-bottom: 10px;
}

div.row div.slot img {
    border: 2px solid white;
}

div.row div.slot img.taken {
    border: 2px solid #363636;
}

div.row div.slot span.feedback {
    position: absolute;
    margin-left: -21px;
    margin-top: -21px;
    left: 50%;
    top: 50%;
    color: #363636;
}

div.row div.slot span.type {
    position: absolute;
    left: 15px;
    bottom: 0;
    padding-left: 2px;
    padding-right: 5px;
    color: #ffffff;
    background-color: #b5b5b5;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 50%;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
}

div.row div.slot span.food {
    position: absolute;
    right: 15px;
    bottom: 0;
    padding-left: 5px;
    padding-right: 2px;
    color: #ffffff;
    background-color: #b5b5b5;
    border-bottom-right-radius: 6px;
    border-top-left-radius: 50%;
    border-top: 1px solid #363636;
    border-left: 1px solid #363636;
    border-right: 2px solid #363636;
    border-bottom: 2px solid #363636;
}

div.row div.slot span.type.taken {
    border-top: 1px solid #363636;
    border-right: 1px solid #363636;
    border-left: 2px solid #363636;
    border-bottom: 2px solid #363636;
}

div.row div.slot img.feedback {
    opacity: 0.4;
    filter: alpha(opacity=40);
}

#map {
    width: 100%;
    min-height: 300px;
}

#map.hidden {
    display: none;
}

#map.shownn {
    display: block;
}

.navbar-default {
    background-color: #94c11f;
    border-color: #6e9800;
}
.navbar-default .navbar-brand {
    color: #ffffff;
}
.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus {
    color: #ffffff;
}
.navbar-default .navbar-text {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
    color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
    color: #ffffff;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    color: #ffffff;
    background-color: #6e9800;
}
.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    color: #ffffff;
    background-color: #6e9800;
}
.navbar-default .navbar-toggle {
    border-color: #6e9800;
}
.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: #6e9800;
}
.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border-color: #ffffff;
}
.navbar-default .navbar-link {
    color: #ffffff;
}
.navbar-default .navbar-link:hover {
    color: #ffffff;
}

@media (max-width: 767px) {
    .navbar-default .navbar-nav .open .dropdown-menu > li > a {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
        color: #ffffff;
    }
    .navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
        color: #ffffff;
        background-color: #6e9800;
    }
}

label i.fa.fa-check, label i.fa.fa-minus {
    margin-left: -20px;
}

.not-ready, #navbar.not-ready ul li {
    display: none;
}

div.row.highlight-on-hover:hover {
    background-color: #e2e2e2;
}

.btn-custom {
    background-color: #94c11f;
    border-color: #94c11f;
    color: #fff;
}
.btn-custom:hover,
.btn-custom:focus,
.btn-custom:active,
.btn-custom.active {
    background-color: #83ab1b;
    border-color: #729518;
    color: #fff;
}
.btn-custom.disabled:hover,
.btn-custom.disabled:focus,
.btn-custom.disabled:active,
.btn-custom.disabled.active,
.btn-custom[disabled]:hover,
.btn-custom[disabled]:focus,
.btn-custom[disabled]:active,
.btn-custom[disabled].active,
fieldset[disabled] .btn-custom:hover,
fieldset[disabled] .btn-custom:focus,
fieldset[disabled] .btn-custom:active,
fieldset[disabled] .btn-custom.active {
    background-color: #94c11f;
    border-color: #94c11f;
    color: #fff;
}
