<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>__ABOUT_TITLE__</strong>
            </div>
            <div class="panel-body">
                <p>__ABOUT_TEXT__</p>
                <div class="map" map-lazy-load="https://maps.googleapis.com/maps/api/js?key=__GOOGLE_APPLICATION_KEY__&callback=initMap">
                    <map center="__ABOUT_LOCATION_LAT__, __ABOUT_LOCATION_LON__" zoom="17">
                        <marker position="[__ABOUT_LOCATION_LAT__, __ABOUT_LOCATION_LON__]" title="__ABOUT_LOCATION_TITLE__"></marker>
                    </map>
                </div>
            </div>
        </div>
    </div>
</div>
