<div class="row">
    <div class="col-lg-8">
        Source: {{selection.source.getName()}}
        <br />
        Users: <span ng-repeat="user in selection.targetUsers" ng-bind="user.get('name')"></span>
        <br />
        Roles: <span ng-repeat="role in selection.targetRoles" ng-bind="role.getName()"></span>
        <br />
    </div>
    <div class="col-lg-4">
        <button class="btn btn-primary" ng-disabled="!selection.source || (0 === selection.targetUsers.length && 0 === selection.targetRoles.length && 0 === selection.removeUsers.length && 0 === selection.removeRoles.length)" ng-click="update()">Ändern</button>
    </div>
</div>
<div class="row">
    <div class="col-lg-4">
        <div class="radio" ng-repeat="roleContainer in roles">
            <input id="source_{{roleContainer.role.getName()}}" type="radio" ng-model="selection.source" ng-value="roleContainer">
            <label for="source_{{roleContainer.role.getName()}}">
                 {{roleContainer.role.getName()}}
            </label>
        </div>
    </div>
    <div class="col-lg-4">
        <div ng-repeat="user in users | orderBy:userGetName">
            <div class="checkbox" ng-show="!alreadyMemberUser(user)">
                <input id="target_user_{{user.id}}" type="checkbox" checklist-model="selection.targetUsers" checklist-value="user" ng-disabled="alreadyMemberUser(user)">
                <label for="target_user_{{user.id}}">
                    {{user.get('name')}}
                </label>
            </div>
            <div ng-show="alreadyMemberUser(user)" style="padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
                <i style="margin-left: -20px;" class="fa fa-fw fa-check" ng-show="alreadyMemberUser(user) && !toRemoveUser(user)" ng-click="removeMemberUser(user)"></i>
                <i style="margin-left: -20px;" class="fa fa-fw fa-minus" ng-show="alreadyMemberUser(user) && toRemoveUser(user)" ng-click="notRemoveMemberUser(user)"></i>
                <span style="display: inline-block; margin-left: 3px;" ng-bind="user.get('name')"></span>
            </div>
        </div>
    </div>
    <div class="col-lg-4">
        <div ng-repeat="roleContainer in roles">
            <div class="checkbox" ng-show="!alreadyMemberRole(roleContainer.role)">
                <input id="target_role_{{roleContainer.role.getName()}}" type="checkbox" checklist-model="selection.targetRoles" checklist-value="roleContainer.role" ng-disabled="alreadyMemberRole(roleContainer.role)">
                <label for="target_role_{{roleContainer.role.getName()}}">
                    {{roleContainer.role.getName()}}
                </label>
            </div>
            <div ng-show="alreadyMemberRole(roleContainer.role)" style="padding-left: 20px; margin-top: 10px; margin-bottom: 10px;">
                <i style="margin-left: -20px;" class="fa fa-fw fa-check" ng-show="alreadyMemberRole(roleContainer.role) && !toRemoveRole(roleContainer.role)" ng-click="removeMemberRole(roleContainer.role)"></i>
                <i style="margin-left: -20px;" class="fa fa-fw fa-minus" ng-show="alreadyMemberRole(roleContainer.role) && toRemoveRole(roleContainer.role)" ng-click="notRemoveMemberRole(roleContainer.role)"></i>
                <span style="display: inline-block; margin-left: 3px;" ng-bind="roleContainer.role.getName()"></span>
            </div>
        </div>
    </div>
</div>
