<div class="row">
    <div class="col-lg-6 col-lg-offset-3 col-xs-10 col-xs-offset-1">
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong translate="donation.headline">Der aktuelle Spendenaufruf</strong>
            </div>
            <div class="panel-body text-center" ng-if="!post.show">
                <i class="fa fa-fw fa-4x fa-spin fa-spinner"></i>
            </div>
            <div class="panel-body" ng-bind-html="post.message" ng-if="post.show"></div>
        </div>
    </div>
</div>
